<section id="about-us" class="section about-us">
  <div class="container container-about">
    <div class="box-content-about">
      <h2 class="title-section-about">About Us</h2>
      <div class="text-about">
        <p>
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p>
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      </div>
      <a href="#catalog" class="catalog-link">View catalog</a>
    </div>
    <div class="wrap-picture-about">
      <picture>
        <source
          srcset="
            /img/about-us-section-img/Clock-desk.jpg    1x,
            /img/about-us-section-img/Clock-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/about-us-section-img/Clock-tab.jpg    1x,
            /img/about-us-section-img/Clock-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/about-us-section-img/Clock-mob.jpg    1x,
            /img/about-us-section-img/Clock-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/about-us-section-img/Clock-desk.jpg"
          alt="arm-clock"
          height="532"
          width="530"
          class="image-about-us"
        />
      </picture>
    </div>
  </div>
</section>
