<section class="section">
<div class="container">
    <div class="advertisement-section">
      <div class="flex-desk">
        <div class="advertisement-wrapp">
          <h2 class="advertisement-title visually-hidden">Advertisement</h2>
          <p class="advertisement-text">
            Choose <span class="advertisement-span-text">your story</span>, making
            every moment unique. Time is your style, and we reveal it.
          </p>
        </div>
        <div class="btn-btn">
          <a href="#contact-us" class="advertisement-btn">Contact us</a>
        </div>
      </div>
    </div>
</div>
</section>
