<section>
    <div class="container_catalog">
        <h2 class="title">Catalog</h2>
        <div class="container_watch">
            <ul class="watch-list">
                <li class="watch-link">
                    <div class="container_link">
                        <div class="container_picture-watch">
                            <picture class="picture-watch">
                                <source srcset="
                                    ../img/catalog-section-img/images1-1x-N-min.png  1x,
                                    ../img/catalog-section-img/images1-2x-N-min.png 2x
                                        " media="(min-width: 1158px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images1-1x-T-min.png  1x,
                                    ../img/catalog-section-img/images1-2x-T-min.png 2x
                                    " media="(min-width: 768px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images1-1x-M-min.png  1x,
                                    ../img/catalog-section-img/images1-2x-M-min.png 2x
                                    " media="(max-width: 767px)" />
                                <img class="picture-watch-img" src="../img/catalog-section-img/images1-1x-M-min.png"
                                    alt="Garmin Fenix 7X Pro"/>
                            </picture>
                        </div>
                        <p class="discribe">Garmin Fenix 7X Pro Sapphire Solar</p>
                        <p class="price">€500</p>
                    </div>
                </li>

                <li class="watch-link">
                    <div class="container_link">
                        <div class="container_picture-watch">
                            <picture class="picture-watch">
                                <source srcset="
                                    ../img/catalog-section-img/images2-1x-N-min.png  1x,
                                    ../img/catalog-section-img/images2-2x-N-min.png 2x
                                    " media="(min-width: 1158px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images2-1x-T-min.png  1x,
                                    ../img/catalog-section-img/images2-2x-T-min.png 2x
                                    " media="(min-width: 768px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images2-1x-M-min.png  1x,
                                    ../img/catalog-section-img/images2-2x-M-min.png 2x
                                    " media="(max-width: 767px)" />
                                <img class="picture-watch-img" src="../img/catalog-section-img/images2-1x-M-min.png" alt="Garmin Marq Athlete"/>
                            </picture>
                        </div>
                        <p class="discribe">Garmin Marq Athlete</p>
                        <p class="price">€450</p>
                    </div>
                </li>

                <li class="watch-link">
                    <div class="container_link">
                        <div class="container_picture-watch">
                            <picture class="picture-watch">
                                <source srcset="
                                    ../img/catalog-section-img/images3-1x-N-min.png  1x,
                                    ../img/catalog-section-img/images3-2x-N-min.png 2x
                                    " media="(min-width: 1158px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images3-1x-T-min.png  1x,
                                    ../img/catalog-section-img/images3-2x-T-min.png 2x
                                    " media="(min-width: 768px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images3-1x-M-min.png  1x,
                                    ../img/catalog-section-img/images3-2x-M-min.png 2x
                                    " media="(max-width: 767px)" />
                                <img class="picture-watch-img" src="../img/catalog-section-img/images3-1x-M-min.png" alt="Garmin Descent MK1"/>
                            </picture>
                        </div>
                        <p class="discribe">Garmin Descent MK1</p>
                        <p class="price">€680</p>
                    </div>
                </li>

                <li class="watch-link">
                    <div class="container_link">
                        <div class="container_picture-watch">
                            <picture class="picture-watch">
                                <source srcset="
                                    ../img/catalog-section-img/images4-1x-N-min.png  1x,
                                    ../img/catalog-section-img/images4-2x-N-min.png 2x
                                    " media="(min-width: 1158px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images4-1x-T-min.png  1x,
                                    ../img/catalog-section-img/images4-2x-T-min.png 2x
                                    " media="(min-width: 768px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images4-1x-M-min.png  1x,
                                    ../img/catalog-section-img/images4-2x-M-min.png 2x
                                    " media="(max-width: 767px)" />
                                <img class="picture-watch-img" src="../img/catalog-section-img/images4-1x-M-min.png" alt="Garmin D2 Delta PX"/>
                            </picture>
                        </div>
                        <p class="discribe">Garmin D2 Delta PX</p>
                        <p class="price">€380</p>
                    </div>
                </li>

                <li class="watch-link watch-link-mobile">
                    <div class="container_link">
                        <div class="container_picture-watch">
                            <picture class="picture-watch">
                                <source srcset="
                                    ../img/catalog-section-img/images5-1x-N-min.png  1x,
                                    ../img/catalog-section-img/images5-2x-N-min.png 2x
                                    " media="(min-width: 1158px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images5-1x-T-min.png  1x,
                                    ../img/catalog-section-img/images5-2x-T-min.png 2x
                                    " media="(min-width: 768px)" />
                                
                                <img class="picture-watch-img" src="../img/catalog-section-img/images5-1x-T-min.png" alt="Garmin Fenix 6 Pro Solar"/>
                            </picture>
                        </div>
                        <p class="discribe">Garmin Fenix 6 Pro Solar</p>
                        <p class="price">€400</p>
                    </div>
                </li>

                <li class="watch-link watch-link-mobile">
                    <div class="container_link">
                        <div class="container_picture-watch">
                            <picture class="picture-watch">
                                <source srcset="
                                    ../img/catalog-section-img/images6-1x-N-min.png  1x,
                                    ../img/catalog-section-img/images6-2x-N-min.png 2x
                                    " media="(min-width: 1158px)" />
                                <source srcset="
                                    ../img/catalog-section-img/images6-1x-T-min.png  1x,
                                    ../img/catalog-section-img/images6-2x-T-min.png 2x
                                    " media="(min-width: 768px)" />
                                
                                <img class="picture-watch-img" src="../img/catalog-section-img/images6-1x-T-min.png" alt="Mark Guerrero"
                                    height="292" width="292" />
                            </picture>
                        </div>
                        <p class="discribe">Tube Watch S42 Date Steel With Black Case</p>
                        <p class="price">€395</p>
                    </div>
                </li>


            </ul>
        </div>
        <button class="catalog-button" type="button">
            Show more
        </button>
    </div>
</section>