<section>
    <div>
        <h2>Catalog</h2>
        <ul>
            <li>
                <img src="../img/catalog-section-img/images1-1x-N-min.png" alt="">
                <p>Garmin Fenix 7X Pro Sapphire Solar</p>
                <p>€500</p>
            </li>
            <li>
                <p>Garmin Marq Athlete</p>
                <p>€450</p>
            </li>
            <li>
                <p>Garmin Descent MK1</p>
                <p>€680</p>
            </li>
            <li>
                <p>Garmin D2 Delta PX</p>
                <p>€380</p>
            </li>
            <li>
                <p>Garmin Fenix 6 Pro Solar</p>
                <p>€400</p>
            </li>
            <li>
                <p>Tube Watch S42 Date Steel With Black Case</p>
                <p>€395</p>
            </li>
        </ul>
        <button type="button">
            Show more
        </button>
    </div>
</section>