<section id="catalog" class="section">
    <div class="container">
      <h2 class="catalog-title">Catalog</h2>
      <div>
        <ul class="catalog-watch-list">
          <li class="catalog-watch-link">
            <div class="picture-box">
              <picture class="catalog-picture-watch">
                <source
                  srcset="
                    /img/catalog-section-img/images1-1x-N-min.png 1x,
                    /img/catalog-section-img/images1-2x-N-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images1-1x-T-min.png 1x,
                    /img/catalog-section-img/images1-2x-T-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images1-1x-M-min.png 1x,
                    /img/catalog-section-img/images1-2x-M-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-picture-watch-img"
                  src="/img/catalog-section-img/images1-1x-M-min.png"
                  alt="Garmin Fenix 7X Pro"
                />
              </picture>
            </div>
  
            <p class="catalog-discribe">Garmin Fenix 7X Pro Sapphire Solar</p>
            <p class="catalog-price">€500</p>
          </li>
  
          <li class="catalog-watch-link">
            <div class="picture-box">
              <picture class="catalog-picture-watch">
                <source
                  srcset="
                    /img/catalog-section-img/images2-1x-N-min.png 1x,
                    /img/catalog-section-img/images2-2x-N-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images2-1x-T-min.png 1x,
                    /img/catalog-section-img/images2-2x-T-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images2-1x-M-min.png 1x,
                    /img/catalog-section-img/images2-2x-M-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-picture-watch-img"
                  src="/img/catalog-section-img/images2-1x-M-min.png"
                  alt="Garmin Marq Athlete"
                />
              </picture>
            </div>
            <p class="catalog-discribe">Garmin Marq Athlete</p>
            <p class="catalog-price">€450</p>
          </li>
  
          <li class="catalog-watch-link">
            <div class="picture-box">
              <picture class="catalog-picture-watch">
                <source
                  srcset="
                    /img/catalog-section-img/images3-1x-N-min.png 1x,
                    /img/catalog-section-img/images3-2x-N-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images3-1x-T-min.png 1x,
                    /img/catalog-section-img/images3-2x-T-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images3-1x-M-min.png 1x,
                    /img/catalog-section-img/images3-2x-M-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-picture-watch-img"
                  src="/img/catalog-section-img/images3-1x-M-min.png"
                  alt="Garmin Descent MK1"
                />
              </picture>
            </div>
  
            <p class="catalog-discribe">Garmin Descent MK1</p>
            <p class="catalog-price">€680</p>
          </li>
  
          <li class="catalog-watch-link">
            <div class="picture-box">
              <picture class="catalog-picture-watch">
                <source
                  srcset="
                    /img/catalog-section-img/images4-1x-N-min.png 1x,
                    /img/catalog-section-img/images4-2x-N-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images4-1x-T-min.png 1x,
                    /img/catalog-section-img/images4-2x-T-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images4-1x-M-min.png 1x,
                    /img/catalog-section-img/images4-2x-M-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-picture-watch-img"
                  src="/img/catalog-section-img/images4-1x-M-min.png"
                  alt="Garmin D2 Delta PX"
                />
              </picture>
            </div>
            <p class="catalog-discribe">Garmin D2 Delta PX</p>
            <p class="catalog-price">€380</p>
          </li>
  
          <li class="catalog-watch-link">
            <div class="picture-box">
              <picture class="picture-watch">
                <source
                  srcset="
                    /img/catalog-section-img/images5-1x-N-min.png 1x,
                    /img/catalog-section-img/images5-2x-N-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images5-1x-T-min.png 1x,
                    /img/catalog-section-img/images5-2x-T-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
  
                <img
                  class="catalog-picture-watch-img"
                  src="/img/catalog-section-img/images5-1x-T-min.png"
                  alt="Garmin Fenix 6 Pro Solar"
                />
              </picture>
            </div>
  
            <p class="catalog-discribe">Garmin Fenix 6 Pro Solar</p>
            <p class="catalog-price">€400</p>
          </li>
  
          <li class="catalog-watch-link">
            <div class="picture-box">
              <picture class="catalog-picture-watch">
                <source
                  srcset="
                    /img/catalog-section-img/images6-1x-N-min.png 1x,
                    /img/catalog-section-img/images6-2x-N-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/catalog-section-img/images6-1x-T-min.png 1x,
                    /img/catalog-section-img/images6-2x-T-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
  
                <img
                  class="catalog-picture-watch-img"
                  src="/img/catalog-section-img/images6-1x-T-min.png"
                  alt="Tube Watch S42"
                  height="292"
                  width="292"
                />
              </picture>
            </div>
  
            <p class="catalog-discribe">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <p class="catalog-price">€395</p>
          </li>
        </ul>
      </div>
      <button class="catalog-button" aria-label="show-more-button" type="button">Show more</button>
    </div>
  </section>