<header id="header" class="header">
  <div class="header-wrap container">
    <a href="/index.html" class="header-logo">watchcharm</a>
    <nav class="header-menu">
      <ul class="header-list">
        <li class="header-item">
          <a href="/index.html" class="header-link current-nav">Home</a>
        </li>
        <li class="header-item">
          <a href="#about-us" class="header-link">About Us</a>
        </li>
        <li class="header-item">
          <a href="#catalog" class="header-link">Catalog</a>
        </li>
        <li class="header-item">
          <a href="#sale" class="header-link">Sale</a>
        </li>
        <li class="header-item">
          <a href="#reviews" class="header-link">Reviews</a>
        </li>
        <li class="header-item">
          <a href="#contact-us" class="header-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="social-wrap">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg width="20" height="20" class="header-social-pic">
              <use href="/img/icon.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg width="20" height="20" class="header-social-pic">
              <use href="/img/icon.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg width="20" height="20" class="header-social-pic">
              <use href="/img/icon.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <button class="header-btn" type="button" data-mobile-menu-open>
      <svg class="header-btn-open" width="34" height="34">
        <use href="/img/icon.svg#icon-open-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mob menu -->
<div class="backdrop" data-mobile-data-menu>
  <div class="mob-wrap">
    <button class="mob-btn-close" type="button" data-mobile-menu-close>
      <svg class="btn-close" width="34" height="34">
        <use href="/img/icon.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mob-menu">
      <ul class="mob-list">
        <li class="mob-item">
          <a href="/index.html" class="mob-link current">Home</a>
        </li>
        <li class="mob-item">
          <a href="#about-us" class="mob-link">About Us</a>
        </li>
        <li class="mob-item">
          <a href="#catalog" class="mob-link">Catalog</a>
        </li>
        <li class="mob-item">
          <a href="#sale" class="mob-link">Sale</a>
        </li>
        <li class="mob-item">
          <a href="#reviews" class="mob-link">Reviews</a>
        </li>
        <li class="mob-item">
          <a href="#contact-us" class="mob-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="social-mob-wrap">
      <ul class="social-mob-list">
        <li class="social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg width="20" height="20" class="social-pic">
              <use href="/img/icon.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg width="20" height="20" class="social-pic">
              <use href="/img/icon.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg width="20" height="20" class="social-pic">
              <use href="/img/icon.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
