<section class="hero section">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-description">
        <h1 class="hero-title">
          Welcome to our <span class="span-collection">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="div-down">
        <picture>
          <source
            srcset="
              /img/hero-section-img/reviewers-desk.png    1x,
              /img/hero-section-img/reviewers-desk-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/hero-section-img/reviewers-tab.png    1x,
              /img/hero-section-img/reviewers-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/hero-section-img/reviewers.png    1x,
              /img/hero-section-img/reviewers-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-icon"
            srcset="
              /img/hero-section-img/reviewers.png    1x,
              /img/hero-section-img/reviewers-2x.png 2x
            "
            src="/img/hero-section-img/reviewers.png"
            alt="Reviewers icon"
            width="108"
            height="44"
          />
        </picture>
        <a class="hero-scroll" aria-label="scroll-down-footer" href="#footer"
          >Scroll down</a
        >
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <source
          srcset="
            /img/hero-section-img/hero-watch-image-desk-1x.webp 1x,
            /img/hero-section-img/hero-watch-image-desk-2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/hero-section-img/hero-watch-image-tab-1x.webp 1x,
            /img/hero-section-img/hero-watch-image-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero-section-img/hero-watch-image-mobile-1x.webp 1x,
            /img/hero-section-img/hero-watch-image-mobile-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="image-hero"
          src="/img/hero-section-img/hero-watch-image-mobile-1x.webp"
          alt="hero picture"
          width="335"
          height="366"
        />
      </picture>
    </div>
  </div>
</section>
