<section class="sale section">
  <div class="container">
    <h2>Sale</h2>
    <div>
      <ul>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
      </ul>
      <div><img src="" alt="" /></div>
      <div>
        <h3>MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
        <p>Product tag: 706587</p>
        <p>&euro;1500</p>
        <p>&euro;3000</p>
        <p>
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
      </div>
    </div>
  </div>
</section>
