<section class="sale section" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-preview">
      <div class="sale-pictures">
        <ul class="sale-pic-list">
          <li class="sale-pic-item">
            <picture>
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-first.png    1x,
                  ./img/sale-section-img/sale-watch-first-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-first.png    1x,
                  ./img/sale-section-img/sale-watch-first-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-first-mob.png    1x,
                  ./img/sale-section-img/sale-watch-first-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./img/sale-section-img/sale-watch-first-mob.png    1x,
                  ./img/sale-section-img/sale-watch-first-mob-2x.png 2x
                "
                src="./img/sale-section-img/sale-watch-first-mob.png"
                alt="Commander watch first picture"
              />
            </picture>
          </li>
          <li class="sale-pic-item">
            <picture>
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-second.png    1x,
                  ./img/sale-section-img/sale-watch-second-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-second.png    1x,
                  ./img/sale-section-img/sale-watch-second-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-second-mob.png    1x,
                  ./img/sale-section-img/sale-watch-second-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./img/sale-section-img/sale-watch-second-mob.png    1x,
                  ./img/sale-section-img/sale-watch-second-mob-2x.png 2x
                "
                src="./img/sale-section-img/sale-watch-second-mob.png"
                alt="Commander watch second picture"
              />
            </picture>
          </li>
          <li class="sale-pic-item">
            <picture>
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-third.png    1x,
                  ./img/sale-section-img/sale-watch-third-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-third.png    1x,
                  ./img/sale-section-img/sale-watch-third-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-third-mob.png    1x,
                  ./img/sale-section-img/sale-watch-third-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./img/sale-section-img/sale-watch-third-mob.png    1x,
                  ./img/sale-section-img/sale-watch-third-mob-2x.png 2x
                "
                src="./img/sale-section-img/sale-watch-third-mob.png"
                alt="Commander watch third picture"
              />
            </picture>
          </li>
          <li class="sale-pic-item">
            <picture>
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-forth.png    1x,
                  ./img/sale-section-img/sale-watch-forth-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-forth.png    1x,
                  ./img/sale-section-img/sale-watch-forth-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-section-img/sale-watch-forth-mob.png    1x,
                  ./img/sale-section-img/sale-watch-forth-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./img/sale-section-img/sale-watch-forth-mob.png    1x,
                  ./img/sale-section-img/sale-watch-forth-mob-2x.png 2x
                "
                src="./img/sale-section-img/sale-watch-forth-mob.png"
                alt="Commander watch forth picture"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-pic-main">
          <picture>
            <source
              srcset="
                ./img/sale-section-img/sale-watch-big.png    1x,
                ./img/sale-section-img/sale-watch-big-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/sale-section-img/sale-watch-big.png    1x,
                ./img/sale-section-img/sale-watch-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-section-img/sale-watch-big-mob.png    1x,
                ./img/sale-section-img/sale-watch-big-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              srcset="
                ./img/sale-section-img/sale-watch-big-mob.png    1x,
                ./img/sale-section-img/sale-watch-big-mob-2x.png 2x
              "
              src="./img/sale-section-img/sale-watch-big-mob.png"
              alt="Commander watch picture"
            />
          </picture>
        </div>
      </div>
      <div class="sale-description">
        <h3 class="sale-subtitle">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-tag">Product tag: 706587</p>
        <div class="price-wrapper">
          <p class="price">&euro;1500</p>
          <p class="old-price">&euro;3000</p>
        </div>
        <p class="description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="sale-filters">
          <a class="filter-link" href="">Fused carbon fiber</a>
          <a class="filter-link" href="">Grade-5 Titanuim</a>
          <a class="filter-link" href="">Athlete</a>
          <a class="filter-link" href="">Golfer</a>
          <a class="filter-link" href="">Commander</a>
          <a class="filter-link" href="">Adventurer</a>
        </div>
      </div>
    </div>
  </div>
</section>
