/* Catalog */

.catalog-title {
  margin-bottom: 24px;
}
/*  */
.catalog-watch-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

/*  */
.catalog-watch-link {
  background-color: rgba(243, 243, 243, 1);
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 28px;
}

.catalog-watch-link:nth-child(5),
.catalog-watch-link:nth-child(6) {
  display: none;
}

.catalog-watch-link:nth-child(5) .catalog-picture-watch-img,
.catalog-watch-link:nth-child(6) .catalog-picture-watch-img {
  width: 208px;
  height: 226px;
}

/*  */
.picture-box {
  padding: 18px 36px;
  margin-bottom: 10px;
}

.catalog-picture-watch-img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/*  */
.catalog-discribe {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  color: rgba(12, 12, 12, 1);
}

.catalog-price {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-button {
  display: block;
  background-color: rgba(51, 80, 233, 1);
  max-width: 162px;
  height: 48px;
  border-radius: 16px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29px;
  color: #fbfbfb;
  margin: 0 auto;
  padding: 15px 44px;
}

@media screen and (min-width: 768px) {
  .catalog-title {
    margin-bottom: 40px;
  }
  .catalog-button {
    display: none;
  }

  .catalog-discribe {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-watch-link {
    max-width: 344px;
    padding: 24px 32px;
  }

  .catalog-watch-link:nth-child(5),
  .catalog-watch-link:nth-child(6) {
    display: block;
  }

  .catalog-watch-link:nth-child(5) .catalog-picture-watch-img,
  .catalog-watch-link:nth-child(6) .catalog-picture-watch-img {
    width: 100%;
    height: 100%;
  }

  .picture-box {
    padding: 10px 6px;
  }

  .catalog-watch-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-watch-link {
    flex-grow: 1;
    max-width: 368px;
    max-height: 414px;
  }
  .picture-box {
    width: 304px;
    height: 312px;
  }

  .catalog-watch-list {
    gap: 32px 23px;
  }
}
