.hero {
  padding-top: 60px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.span-collection {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

.div-down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}

.hero-icon {
  width: 108px;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
  transition: color 300ms ease-in-out;
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: #3350e9;
}

.hero-image {
  border-radius: 30px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero-wrap {
    display: flex;
    gap: 11px;
    margin-bottom: 40px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-text {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.25;
    width: 480px;
  }

  .div-down {
    flex-direction: column;
    margin-bottom: 0;
    min-width: 136px;
  }

  .hero-icon {
    width: 136px;
  }

  .hero-scroll {
    font-size: 20px;
    line-height: 1;
  }

  .hero-image {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .div-down {
    min-width: 146px;
  }

  .hero-icon {
    width: 146px;
  }

  .hero-wrap {
    justify-content: space-between;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
  }
  .hero-description {
    width: 597px;
  }
}
