* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 30px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 40px 0;
  }
  h2 {
    font-size: 48px;
    line-height: 0.92;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
  .section {
    padding: 50px 0;
  }
}
