.review-title {
  text-align: left;
  margin-bottom: 24px;
}

.swiper {
  overflow: hidden;
}

.review-item {
  padding: 32px 36px;
  background-color: #f3f3f3;
  border-radius: 30px;
  max-width: 335px;
}

.review-list-image {
  border-radius: 100%;
  border: 2px solid #fbfbfb;
  margin: 0 auto;
  margin-bottom: 24px;
}

.review-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.reviev-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

@media screen and (min-width: 768px) {
  .review-title {
    margin-bottom: 40px;
  }
  .review-item {
    max-width: 344px;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .review-list {
    /* display: flex;
    gap: 20px; */
  }
  .review-item {
    max-width: 370px;
    max-height: 270px;
  }
  .swiper-container {
    height: 272px;
  }
}
