@import url('./fonts.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero-section.css');
@import url('./about-us-section.css');
@import url('./catalog-section.css');
@import url('./advertisement-section.css');
@import url('./sale-section.css');
@import url('./reviews-section.css');
@import url('./contact-us-section.css');
@import url('./footer.css');
